@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}
.bg-black h2 {
    font-size: calc(1.325rem + .8vw);
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f5f5f5;
}
h1{
    text-align:center;
    color:#fff !important;
}
.DetailBg .detailOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.DetailBg {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.myContainer {
  max-width: 1200px;
  margin: 0 20px;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.DetailBg h1 {
  color: white !important;
  z-index: 4;
}
.text-white {
    --bs-text-opacity: 1;
    color: #fff !important;
}

.DetailBg  p{
    color: white !important;;
    z-index: 4;

}
.DetailBg  p a{
    color: white !important;;
    z-index: 4;

}
.aboutPage {
  background-color: #fff;
}

.gap-4 {
  gap: 1.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.bg-white {
  background-color: #fff;
}
.p-5 {
  padding: 3rem !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.position-relative {
  position: relative !important;
}

.aboutPage .aboutPageLogo {
  width: 100px;
  left: 45%;
  top: -35px;
  z-index: 20;
}

.position-absolute {
  position: absolute !important;
}

.pe-2 {
  padding-right: .5rem !important;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto !important;
        width: 33.33333333% !important;
    }

     .col-md-7 {
        flex: 0 0 auto !important;
        width: 58.33333333% !important;
    }

}
@media (max-width: 768px) {
  .aboutPage .aboutPageLogo {
    width: 100px;
    left: 43%;
    top: -35px;
    z-index: 20;
}
}
@media (max-width: 500px) {
  .aboutPage .aboutPageLogo {
    width: 100px;
    left: 40%;
    top: -35px;
    z-index: 20;
}
}
@media (max-width: 318px) {
  .aboutPage .aboutPageLogo {
    width: 100px;
    left: 35%;
    top: -35px;
    z-index: 20;
}
}

.gap-3 {
  gap: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}


.gap-5 {
  gap: 3rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.justify-content-between {
  justify-content: center !important;
}

.bg-black {
  background-color: #000;
}


.my-ab {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.myContainer {
    max-width: 1200px;
    margin: 0 20px;
}
.gap-5 {
    gap: 3rem !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}
.w-100 {
    width: 100% !important;
}
.position-relative {
    position: relative !important;
}
.d-flex {
    display: flex !important;
}


